*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: gray;
    padding-top: 50px;
}

.conatiner{
    width: 1300px;
    display: flex;
    align-items: center;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    block-size: 200px;
}

.wrapper .slider-image{
    background-color: rgb(224, 224, 224);
    padding-top: 20px;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    
    }

    .wrapper .slider-image .slider-content .title{
        font-size: 16px;
        font-weight: 900;
    }

    